.App {
  display: grid;
  grid-template-columns: [left] 30vw [right] auto;
  grid-template-rows: [header] 100px [content] auto;
}

.Header {
  grid-row: header;
  grid-column: left / span 2;
  text-align:  center;
}

.CurrentSongDisplay {
  vertical-align: top;
  
}

.CurrentSongDisplay div {
  vertical-align: top;
}

.SongBankListDisplay {
  vertical-align: top;
  height: 60vh;
  overflow-y: scroll;
}

.SongSetListDisplay {
  height: 30vh;
}

.LeftSideBar {
  grid-column:left
}


.RightSideBar {
  grid-column: right
}

.box {
  margin: 5px;
  border: 1px solid black;
  padding: 5px;
}

.box  h1, h2 {
  margin: 5px
}

ul.nav { 
  top:0px;
  text-align: center;
}

ul.nav li { 
  display: inline-block;
}