.App {
  display: grid;
  grid-template-columns: [left] 30vw [right] auto;
  grid-template-rows: [header] 100px [selectionList] 25vh [content] min-content;
}

.Header {
  grid-row: header;
  grid-column: left / span 2;
  text-align:  center;
}


.CurrentSongDisplay {
  overflow: hidden;
  grid-column: right;
  grid-row: selectionList / span 2;
}

.SongBankListDisplay {
  grid-row: content;
  overflow-y: scroll;
  max-height: calc(100vh - 150px - 25vh)
}

.SongSetListDisplay {
  grid-row: selectionList;
}



.VersesListScrollingWrapper {
  height: 30vh;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.VerseCard {
  display:inline-block;
  width: 20vw;
  margin: 5px;
  border: 1px solid black;
  padding: 5px;
  height: 25vh;
  vertical-align: top;
  white-space: initial;
}

 
.box {
  margin: 5px;
  border: 1px solid black;
  padding: 5px;
}

.box  h1, h2 {
  margin: 5px
}

ul.nav { 
  top:0px;
  text-align: center;
}

ul.nav li { 
  display: inline-block;
}

.SongKeys {
  display: grid;
  grid-template-columns: [left] auto [center] auto [right] auto;
  grid-template-rows: [header] 100px;
}

.SongKey {
  grid-row: header;
  text-align:  center;
}